* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans";
}

.hero {
  scroll-snap-type: start;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4352941176), rgba(0, 0, 0, 0.2509803922)), url("../img/fondo-editada-locaSofi.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero h1 {
  z-index: 1;
  color: #fff;
  font-size: 4rem;
}
.hero .countdown {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.hero .countdown div {
  text-align: center;
  padding: 0.5rem;
  font-size: 24px;
}
.hero .btn-confirmar button {
  color: #fff;
  font-size: 24px;
  border: solid 1px rgba(255, 255, 255, 0);
  border-radius: 10px;
  transition: all 0.5s;
  background: rgba(181, 43, 255, 0.6117647059);
  padding: 1rem;
  margin-top: 0.8rem;
  cursor: pointer;
}
.hero button:hover {
  background-color: #b52bff;
  border: solid 1px #fff;
  color: #fff;
}

.info {
  padding: 3rem;
  color: #fff;
  background: #3d1e4b;
  background: linear-gradient(135deg, #3d1e4b 25%, #31163c 25%, #31163c 50%, #3d1e4b 50%, #3d1e4b 75%, #31163c 75%, #31163c);
  background-size: 40px 40px;
  /* Animation */
  animation: move 8s linear infinite;
}
.info .infoT {
  padding: 0.5rem;
  display: flex;
  align-items: center;
}
.info .infoT i {
  font-size: 1.5rem;
  padding: 0 0.5rem;
}
.info hr {
  margin: 1rem;
}
.info .mapa {
  padding: 0 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.info .mapa h4 {
  padding: 0 0 0.5rem 0;
  display: flex;
  align-items: center;
}
.info .mapa h4 i {
  font-size: 1.5rem;
}
.info .mapa p {
  padding: 0.3rem;
}
.info .mapa iframe {
  height: 250px;
}

@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 40px 40px;
  }
}
.carrousel {
  padding: 1rem;
  overflow: hidden;
}
.carrousel .carousel-item {
  height: 50vh;
  object-fit: cover;
}

.regalos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  background: rgba(181, 43, 255, 0.3568627451);
  color: #fff;
}
.regalos .bx-tada {
  font-size: 3.5rem;
  padding: 1rem;
  cursor: pointer;
  transition: all 0.5s;
}
.regalos .abrir {
  transform: rotate(-360deg);
}
.regalos .cuenta-bancaria {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.1s;
}
.regalos .cuenta-bancaria p {
  text-align: center;
}
.regalos .cuenta-bancaria strong {
  color: #e7bbff;
  font-size: 1.2rem;
}
.regalos .activo {
  height: auto;
  opacity: 1;
}

#mensajes {
  padding: 3rem;
  background-color: #3d1e4b;
}
#mensajes h2 {
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
}
#mensajes #myForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#mensajes #myForm input,
#mensajes #myForm textarea {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  width: 60vw;
}
#mensajes #myForm button {
  background-color: #9900e0;
  border-radius: 10px;
  color: #ffffff;
  padding: 0.5rem 2rem;
  border: none;
  font-size: 1.2rem;
  transition: background-color 0.5s;
  cursor: pointer;
}
#mensajes #myForm button:hover {
  background-color: #d270ff;
}
#mensajes #contenedor-mensajes {
  margin-top: 20px;
}
#mensajes #contenedor-mensajes .mensaje {
  background-color: white;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}
#mensajes #contenedor-mensajes .mensaje .nombre {
  font-weight: bold;
}

.footer {
  width: 100vw;
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #31163c;
  position: relative;
}
.footer .links {
  display: flex;
  left: 5.5rem;
  top: 0.5rem;
}
.footer .links a {
  margin: 0 0.3rem;
}
.footer .links a i {
  color: #fff;
  display: flex;
  font-size: 1.2rem;
  padding: 0 0.3rem;
}
.footer p {
  color: #fff;
  font-size: 1rem;
  margin-left: 3rem;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

body {
  width: 100vw;
  overflow-x: hidden;
  background: #3d1e4b;
}
body .container-app {
  padding: 0;
}

/*# sourceMappingURL=estilos.css.map */
