* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$color-oscuro: #31163c;
$color-claro: #3d1e4b;
@import './hero.scss';
@import './footer.scss';
@import './info.scss';

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}


body {
    width: 100vw;
    overflow-x: hidden;

    .container-app {
        padding: 0;
    }

}