* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans";
}

$color-oscuro: #31163c;
$color-claro: #3d1e4b;
@import './hero.scss';
@import './info.scss';
@import './carrousel.scss';
@import './regalos.scss';
@import './mensajes.scss';
@import './footer.scss';

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}


body {
    width: 100vw;
    overflow-x: hidden;
    background: #3d1e4b;
    .container-app {
        padding: 0;
    }

}